/Pruebas/nbproject/private/
/EjemplosTutorialJava/nbproject/private/
/GroovyJavaDemo/nbproject/private/
/Dummy/nbproject/private/
/EjemploMavenAplicacionWeb/target/
/GroovyJavaDemo/build/
/HolaMundo/build/
/MavenEnterpriseApp/MavenEnterpriseApp-ejb/target/
/MavenEnterpriseApp/MavenEnterpriseApp-web/target/
/mavenproject1/target/
/SpringDemo/target/
/Pruebas/build/
Pruebas/.vscode/launch.json
